<sprk-masthead
 [narrowNavLinks]="defaultNarrowLinks"
 idString="masthead-1"
>

   <div logo-slot>
     <img src="./assets/images/eSquaredSolutionsLogo.png"
     class="sprk-c-Masthead__logo" alt="">
   </div>

  <div
   class="sprk-o-Stack__item sprk-o-Stack__item--flex@xxs sprk-o-Stack sprk-o-Stack--misc-a sprk-o-Stack--split@xxs sprk-o-Stack--end-row"
   little-nav-slot
  >
    <ul class="sprk-c-Masthead__site-links sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack__item--center-column">
      <li>
        <a
          class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
          href="#nogo"
        >
          Services
        </a>
      </li>

      <li>
        <a
          class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
          href="#nogo"
        >
          About Us
        </a>
      </li>

      <li>
        <a
          class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
          href="#nogo"
        >
          Press
        </a>
      </li>
    </ul>
  </div>
  <ul
   class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack--center-column"
   utility-slot
  >
    <li>
      <a
        class="sprk-b-Link sprk-b-Link--plain sprk-c-Masthead__link"
        href="tel:313-544-8414"
      >
        (313) 544-8414
      </a>
    </li>

    <li>
      <a
        class="sprk-c-Button sprk-c-Button--secondary sprk-c-Button--compact"
        href="#contact-us"
      >
        Contact Us
      </a>
    </li>
  </ul>
  <div
   class="sprk-u-mas"
   narrowNavFooter
  >
    <a
      class="sprk-c-Button sprk-c-Button--secondary sprk-c-Button--compact sprk-c-Button--full@s"
      href="#nogo"
      >Contact Us</a>
  </div>
</sprk-masthead>
