<app-icons></app-icons>
<app-header></app-header>

<div class="page">
  <app-highlight-board></app-highlight-board>

  <section id="services">
    <div class="section-container">
      <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">Services</h1>

      <sprk-stack splitAt="huge" itemSpacing="large">
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="Deconstruction" imgSrc="../assets/images/deconstruction.png"
            imgAlt="deconstruction" imgHref="" idString="card-2">
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="Mold Remediation"
            imgSrc="../assets/images/mold-remediation.png" imgAlt="mold removal" imgHref="" idString="card-2">
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="Lead Abatement" imgSrc="../assets/images/lead-abatement.png"
            imgAlt="lead abatement" imgHref="" idString="card-2">
          </sprk-card>
        </div>
      </sprk-stack>

      <sprk-stack splitAt="huge" itemSpacing="large" additionalClasses="sprk-u-mtl">
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="C/D Waste Removal" imgSrc="../assets/images/c_d_waste.png"
            imgAlt="construction debris removal" imgHref="" idString="card-2">
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="Insulation Removal" imgSrc="../assets/images/insulation.png"
            imgAlt="insulation removal" class="banner" imgHref="" idString="card-2">
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--third@xl service-card">
          <sprk-card media="img" cardType="teaser" title="Healthy Homes Assessment" imgSrc="../assets/images/home.png"
            imgAlt="home" imgHref="" idString="card-2">
          </sprk-card>
        </div>
      </sprk-stack>

    </div>
  </section>

  <section id="about-us">
    <div class="section-container">
      <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">About Us</h1>
      <sprk-stack itemSpacing="large" splitAt="huge">
        <div sprkStackItem class="sprk-o-Stack__item--half@xl">
          <sprk-card cardType="base" idString="card-20" additionalClasses="sprk-c-Card--standout contact-card">
            <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
              <h3 class="sprk-b-TypeDisplayFour sprk-u-mbl contact-header">Our Mission</h3>
              <p class="sprk-b-TypeBodyTwo sprk-u-mbl">Established in 2013, Eco-Environmental Solutions eradicates
                abandoned, blighted, and fire damaged properties in urban communities throughout metro Detroit. We
                accomplish this through deconstruction a “green building” technology. The 90% hands-on process reduces
                construction and demolition waste contributing to landfill usage, reuses and recycles building
                materials, and employs individuals centrally located in these same affected communities. We feel this
                empowers current and future residents with an up-close and personal view of the economic and social
                wealth building opportunities created in the midst of the blight!
              </p>
              <h3 class="sprk-b-TypeDisplayFour sprk-u-mbl">Why Choose Us?</h3>
              <p class="sprk-b-TypeBodyTwo sprk-u-mbl">We are a grassroots organization that is focused on addressing
                blight and stewarding green building practices throught metro Detroit. Helping city residents get a
                chance to see people from similar backgrounds as themselves cleaning up neighborhood blight has been a
                powerful incentive and drives our efforts everyday.
              </p>
            </div>
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--half@xl">
          <sprk-promo title="Dedicated to the community and environment" imgAlt="placeholder"
            imgSrc="../assets/images/environmental.jpg" cta="button" mediaRev=true ctaText="Learn More"
            buttonHref="/#contact-us" idString="promo-3">
            Eco-Environmental Solutions aims to reuse or repurpose around 60% of anything it touches during a
            deconstruction endeavor.
          </sprk-promo>
        </div>
      </sprk-stack>
    </div>
  </section>

  <section class="alt-section" id="contact-us">
    <div class="section-container">
      <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">Contact Us</h1>
      <app-contact-form></app-contact-form>
    </div>
    
  </section>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>