<app-icons></app-icons>
<app-header></app-header>

<div class="page">
  <app-highlight-board></app-highlight-board>
  
  <section id="services">
      <div class="section-container">
        <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">Services</h1>
        
        <sprk-stack splitAt="huge" itemSpacing="large">
          <div
            sprkStackItem
            class="sprk-o-Stack__item--third@xl">
            <sprk-card
              media="img"
              cardType="teaser"
              title="Deconstruction"
              body="Some content regarding services that Eco-Environmental offers"
              imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
              imgAlt="Placeholder Image"
              imgHref=""
              idString="card-2">
            </sprk-card>
          </div>
          <div
            sprkStackItem
            class="sprk-o-Stack__item--third@xl">
            <sprk-card
              media="img"
              cardType="teaser"
              title="Mold Remediation"
              body="Some content regarding services that Eco-Environmental offers"
              imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
              imgAlt="Placeholder Image"
              imgHref=""
              idString="card-2">
            </sprk-card>
          </div>
        <div
          sprkStackItem
          class="sprk-o-Stack__item--third@xl">
          <sprk-card
            media="img"
            cardType="teaser"
            title="Lead Abatement"
            body="Some content regarding services that Eco-Environmental offers"
            imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
            imgAlt="Placeholder Image"
            imgHref=""
            idString="card-2">
          </sprk-card>
        </div>
        </sprk-stack>

        <sprk-stack splitAt="huge" itemSpacing="large" additionalClasses="sprk-u-mtl">
            <div
              sprkStackItem
              class="sprk-o-Stack__item--third@xl">
              <sprk-card
                media="img"
                cardType="teaser"
                title="C/D Waste Removal"
                body="Some content regarding services that Eco-Environmental offers"
                imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
                imgAlt="Placeholder Image"
                imgHref=""
                idString="card-2">
              </sprk-card>
            </div>
            <div
              sprkStackItem
              class="sprk-o-Stack__item--third@xl">
              <sprk-card
                media="img"
                cardType="teaser"
                title="Insulation Removal"
                body="Some content regarding services that Eco-Environmental offers"
                imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
                imgAlt="Placeholder Image"
                imgHref=""
                idString="card-2">
              </sprk-card>
            </div>
          <div
            sprkStackItem
            class="sprk-o-Stack__item--third@xl">
            <sprk-card
              media="img"
              cardType="teaser"
              title="Healthy Homes Assessment"
              body="Some content regarding services that Eco-Environmental offers"
              imgSrc="https://sparkdesignsystem.com/assets/toolkit/images/desktop.jpg"
              imgAlt="Placeholder Image"
              imgHref=""
              idString="card-2">
            </sprk-card>
          </div>
          </sprk-stack>

      </div>
    </section>

  <section id="about-us">
    <div class="section-container">
      <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">About Us</h1>
      <sprk-stack itemSpacing="large" splitAt="huge">
        <div sprkStackItem class="sprk-o-Stack__item--half@xl">
          <sprk-card
            cardType="base"
            idString="card-20"
            additionalClasses="sprk-c-Card--standout contact-card">
            <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
              <h3 class="sprk-b-TypeDisplayFour sprk-u-mbl contact-header">Our Mission</h3>
              <p class="sprk-b-TypeBodyTwo sprk-u-mbl">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
                semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
                aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
                ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.
              </p>
              <h3 class="sprk-b-TypeDisplayFour sprk-u-mbl">Why Choose Us?</h3>
              <p class="sprk-b-TypeBodyTwo sprk-u-mbl">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed gravida urna quis nulla ultrices, sed efficitur risus elementum. Vivamus
                semper ex a lorem sodales, rhoncus rhoncus augue cursus. Sed vestibulum felis vel euismod
                aliquet. Suspendisse sit amet euismod nibh, eget fermentum arcu. Aliquam lacinia, sem eu
                ultricies auctor, velit nunc commodo sapien, pharetra maximus augue dui eget dui.
              </p>
            </div>
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--half@xl">
          <sprk-promo
            title="Dedicated to our community and environment"
            imgAlt="placeholder"
            imgSrc="../assets/images/environmental.jpg"
            cta="button"
            mediaRev=true
            ctaText="Learn More"
            idString="promo-3">
            Eco-Environmental Solutions aims to reuse or repurpose around 60 percent of anything it touches during a deconstruction endeavor.
          </sprk-promo>
        </div>
      </sprk-stack>
    </div>
  </section>

  <section class="alt-section" id="contact-us">
    <div class="section-container">
      <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mbl">Contact Us</h1>
      
      <sprk-stack itemSpacing="medium" splitAt="medium">
        <div sprkStackItem class="sprk-o-Stack__item--half@m">
          <sprk-card cardType="base" idString="card-20" additionalClasses="sprk-c-Card--standout contact-card">
              
            <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
              <h3 class="sprk-b-TypeDisplayFour sprk-o-Stack__item contact-header">
                Have questions about our services? Send us a message and we will reach out to you as soon as possible.
              </h3>

              <div class="sprk-b-InputContainer sprk-u-Width-100">
                <label
                  for="text-input-normal"
                  class="sprk-b-Label ">Name</label>
                <input
                  class="sprk-b-TextInput sprk-u-Width-100"
                  id="text-input-normal"
                  data-id="text-input-normal"
                  type="text"
                  value=""
                  aria-describedby="text-input-normal--error-container"
                >
              </div>

              <div class="sprk-b-InputContainer ">
                <label
                  for="text-input-normal"
                  class="sprk-b-Label ">Email</label>
                <input
                  class="sprk-b-TextInput sprk-u-Width-100"
                  id="text-input-normal"
                  data-id="text-input-normal"
                  type="text"
                  value=""
                  aria-describedby="text-input-normal--error-container">
              </div>


              <div class="sprk-b-InputContainer">
                <label
                  for="textarea-normal"
                  class="sprk-b-Label">Message</label>
                <textarea
                  class="sprk-b-TextArea sprk-u-Width-100"
                  id="textarea-normal"
                  data-id="textarea-normal"
                  aria-describedby="textarea-normal--error-container">
                </textarea>
                <div
                  class="sprk-b-ErrorContainer"
                  id="textarea-normal--error-container">
                </div>
              </div>

              <button
                class="sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@xs"
                data-id="button-1">
                Send
              </button>
            </div>
          </sprk-card>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--half@m">
        </div>
      </sprk-stack>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>